[flake8]
ignore =
    # D203: 1 blank line required before class docstring
    D203,
    # E402: Module level import not at top of file
    E402,
    # F401: Module imported but unused
    F401,
    # W503: Line break occurred before a binary operator
    W503,
    # F403: 'from module import *' used; unable to detect undefined names
    F403,
    # I100: Your import statements are in the wrong order.
    I100,
    # I201: Missing newline between import groups.
    I201
exclude =
    .git,
    .idea,
    __pycache__,
    .env,
    *.md,
    alembic/

max-line-length = 120
